extends ../layout

block content
  div.subheader
    h2=title
  table
   tr
    th Title
    th Author
    th Genre
    th Year
   each book in paginatedBooks
    tr
     td
      a(href=`/books/${book.id}/edit`)=book.title
     td=book.author
     td=book.genre
     td=book.year
  - for (let i=1; i<= pageCounts; i++)
     a(href="/search/" +query+ "?page=" + i, class="button", id="home")=i
  if(title=='Search Results')
   a(href="/books", class="button", id="home") Go back